.not-found{
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found-title{
    font-size: 70px;
    font-weight: bold;
    color: var(--red-color);
}

.not-found-text{
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.not-found-link{
    display: block;
    color: var(--black-color);
    font-size: 21px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--secondary-color);
}

.not-found-link:hover{
    background-color: var(--primary-color);
}